@use '/src/styles/constants';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  color: inherit;
  cursor: pointer;
  background: none;
  border-radius: 7px;

  transition: all 0.2s;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.small {
  padding: 1rem;
}

.medium {
  padding: 1rem 4rem;
}

.neutral {
  background-color: constants.$color-blue;
  color: constants.$color-white;

  &:hover {
    background-color: constants.$color-blue-dark;
  }

  &:focus,
  &:active {
    outline: 1px solid constants.$color-blue-dark;
  }
}

.danger {
  background-color: constants.$color-red;
  color: constants.$color-white;

  &:hover {
    background-color: constants.$color-red-dark;
  }

  &:focus,
  &:active {
    outline: 1px solid constants.$color-red-dark;
  }
}

.success {
  background-color: constants.$color-green;
  color: constants.$color-white;

  &:hover {
    background-color: constants.$color-green-dark;
  }

  &:focus,
  &:active {
    outline: 1px solid constants.$color-green-dark;
  }
}
