$color-primary: #599cdf;
$color-primary-light: #edf9ff;
$color-primary-dark: #5b96d1;

$color-danger: #ff8686;
$color-danger-dark: #da7070;

$color-grey: #737373;
$color-grey-light: #ababab;
$color-grey-dark: #2f2f2f;
$color-white: #fff;

$icon-size: 1.8rem;
