$color-grey-light: #ababab;
$color-white: #fff;
$color-blue: #599cdf;
$color-blue-light: #edf9ff;
$color-blue-dark: #5b96d1;
$color-red: #ff8686;
$color-red-dark: #da7070;

$text-color-base: #2f2f2f;

$icon-size: 1.8rem;
