@use 'constants';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  color: constants.$color-grey-dark;
}

body {
  min-height: 100vh;
  background-color: constants.$color-primary-light;
}
