.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todoList {
  margin: 0 auto;
  margin-top: 3rem;
  padding-bottom: 3rem;
  width: 72rem;
  min-height: 70vh;
}

.error {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
