@use '/src/styles/constants';

.form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.input {
  flex: 1;
  padding: 1rem 2rem;
  color: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid constants.$color-grey-light;
  border-radius: 7px;

  &:focus,
  &:active {
    border-bottom-color: constants.$color-grey;
  }
}
