@use '/src/styles/constants';

.form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.inputWrapper {
  flex: 1;
}

.input {
  width: 100%;
  padding: 1rem 2rem;
  color: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid constants.$color-grey-light;
  border-radius: 7px;

  &:focus,
  &:active {
    border-bottom-color: constants.$color-grey;
  }
}

.error {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: constants.$color-red;
}
